@mixin style {
  .fadeEnterActive {
    transition: opacity 0.3s cubic-bezier(0.33, 1, 0.68, 1); // easeOutCubic
  }

  .fadeLeaveActive {
    transition: opacity 0.3s cubic-bezier(0.32, 0, 0.67, 0); // easeInCubic
  }

  .fadeEnterFrom,
  .fadeLeaveTo {
    opacity: 0;
  }
}
