@use "sass:color";

@use "mixins";
@use "reset";
@use "typography";
@use "accessibility";
@use "animations";

@include reset.style();
@include typography.style();
@include accessibility.style();
@include animations.style();

// App components

// App styles
body {
  padding:
    var(--tg-safe-area-inset-top)
    var(--tg-safe-area-inset-right)
    var(--tg-safe-area-inset-bottom)
    var(--tg-safe-area-inset-left);
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding:
    var(--tg-content-safe-area-inset-top)
    var(--tg-content-safe-area-inset-right)
    var(--tg-content-safe-area-inset-bottom)
    var(--tg-content-safe-area-inset-left);
  overflow-wrap: break-word;
}

.appLayout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.appPanel {
  background: var(--tg-theme-bg-color);
  //background: var(--tg-theme-header-bg-color);
}
