@use "sass:color";

@use "mixins";
@use "reset";
@use "typography";
@use "accessibility";
@use "animations";
@use "components/AppList";
@use "components/AppHeader";
@use "components/AppCheckbox";
@use "components/AppTextarea";
@use "components/AppActionBar";

@include reset.style();
@include typography.style();
@include accessibility.style();
@include animations.style();

// App components
@include AppList.style();
@include AppHeader.style();
@include AppCheckbox.style();
@include AppTextarea.style();
@include AppActionBar.style();

// App styles
body {
  padding:
    var(--tg-safe-area-inset-top)
    var(--tg-safe-area-inset-right)
    var(--tg-safe-area-inset-bottom)
    var(--tg-safe-area-inset-left);
  background: var(--tg-theme-secondary-bg-color, #f5f5f5);
  color: var(--tg-theme-text-color);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding:
    var(--tg-content-safe-area-inset-top)
    var(--tg-content-safe-area-inset-right)
    var(--tg-content-safe-area-inset-bottom)
    var(--tg-content-safe-area-inset-left);
  overflow: hidden;
  overflow-wrap: break-word;
}

.appLayout {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 5rem;
}

.appPanel {
  background: var(--tg-theme-bg-color, #fff);
  //background: var(--tg-theme-header-bg-color);
}

