@mixin style {
  .appActionBar {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1000;
  }

  .appActionBarBlur {
    position: absolute;
    inset: auto 0 0 0;
    height: 6rem;
    pointer-events: none;
  }

  .appActionBarBlur::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter:
      blur(0.75rem);
      //brightness(1.3)
      //saturate(1.5);
    mask-image:
      linear-gradient(to bottom, transparent 0%, #000 50%, #000 100%);
  }

  .appActionBarContent {
    position: relative;
    z-index: 1000;
    padding: 0 0.5rem 1.5rem 0.5rem;
  }

  .appActionBarButton {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    backdrop-filter:
      blur(0.75rem);
    //brightness(1.3)
    //saturate(1.5);
    border-radius: 1000rem;
    overflow: hidden;
    box-shadow:
      0 (0.0625rem * 2) (0.0625rem * 2) 0 rgba(0, 0, 0, 0.08),
      0 (-0.0625rem / 2) (0.0625rem * 2) 0 rgba(0, 0, 0, 0.08),
      0 0.0625rem 0 0 rgba(255, 255, 255, 0.16) inset,
      0 (-0.0625rem / 2) 0 0 rgba(255, 255, 255, 0.16) inset;
    background: rgba(255, 255, 255, 0.04);
    color: color-mix(in srgb, var(--tg-theme-text-color, #000) 66.666666%, transparent);
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;

    &:hover {
      background: rgba(255, 255, 255, 0.16);
    }
  }
}
