@mixin style {
  .appCheckbox {
    display: grid;
    grid-template-columns: 1.5rem minmax(0, 1fr);
    gap: 0 0.75rem;
    font-size: 1rem;
    padding-block: 0.75rem;
  }

  .appCheckboxInput {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    background-color: var(--tg-theme-bg-color, #fff);
    background-origin: border-box;
    border: 0.0625rem solid var(--tg-theme-section-separator-color, #f5f5f5);
    border-radius: 1000rem;

    &:checked {
      color: var(--tg-theme-button-text-color, #fff);
      background-color: var(--tg-theme-button-color, #0095f6);
      // TODO check: https://stackoverflow.com/questions/77753947/inline-svg-in-vite-build
      background-image: url("@/assets/icons/checked.svg?inline");
      border-color: var(--tg-theme-button-color, #0095f6);
    }
  }

  .appCheckboxText {
    overflow-wrap: break-word;
  }
}
