@mixin style {
  .appList {
    padding: 0;
  }

  .appListItemReserverUsername {
    font-size: 0.75rem;
    color: var(--tg-theme-hint-color, #888888);
  }

  .appListItemCheckboxFullWidth {
    width: 100%;
  }

  .appListItemText {
    padding-inline-end: 0.75rem;
  }

  .appListItemAction {
    display: none;
    padding: 0.75rem 0.75rem;
    color: var(--tg-theme-accent-text-color, #0095f6);
    font-weight: 500;

    .appListItem + .appListItem & {
      box-shadow: inset 0 0.0625rem 0 0 var(--tg-theme-section-separator-color, #f5f5f5);
    }

    .appListEditItemActive & {
      display: block;
    }
  }

  // ------------------

  .appListItem {
    display: flex;
    align-items: stretch;
    padding-inline-start: 0.75rem;

    &::before {
      display: none;
    }
  }

  .appListEditItemActive {}

  .appListEditItemRemoving {
    background: var(--tg-theme-section-separator-color, #f5f5f5);
  }

  .appListEditItemDragging {
    opacity: 0.5;
    cursor: grabbing;
  }

  .appListEditItemDragOver {
    border-top: 2px solid var(--tg-theme-accent-text-color, #0095f6);
    border-radius: 2px 2px 0 0;
  }

  .appListEditItemTextarea {
    width: 100%;
    padding-block: 0.75rem;
    padding-inline-end: 0.75rem;

    .appListItem:not(.appListEditItemRemoving) + .appListItem & {
      box-shadow: inset 0 0.0625rem 0 0 var(--tg-theme-section-separator-color, #f5f5f5);
    }

    &::placeholder {
      color: var(--tg-theme-hint-color, #888888);
    }
  }
}
