@mixin style {
  .appTextarea {
    overflow: hidden;
    overflow-wrap: break-word;

    &[contenteditable][placeholder]:empty::before {
      content: attr(placeholder);
      color: var(--tg-theme-hint-color, #888888);
      pointer-events: none;
    }
  }
}
